node-linker=hoisted

registry=https://registry.npmmirror.com
sharp_libvips_binary_host=https://registry.npmmirror.com/-/binary/sharp-libvips
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=180000
fetch-timeout=900000
